html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0; }

.grass, .sky, .road {
  position: relative; }

.sky {
  height: 40%;
  background: skyblue; }

.grass {
  height: 20%;
  background: seagreen; }
  .grass .flower {
    position: absolute;
    height: 40px; }
    .grass .flower:nth-child(1) {
      height: 40px;
      left: 50%; }
    .grass .flower:nth-child(2) {
      top: 18%;
      left: 34%; }
    .grass .flower:nth-child(3) {
      top: 25%;
      left: 69%; }

.road {
  height: 40%;
  background: dimgray;
  border-top: 10px solid gray;
  border-bottom: 10px solid gray;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .road .lines {
    border: 4px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    bottom: 50%; }
  .road .box {
    position: absolute;
    height: 80px;
    left: 50%;
    -webkit-animation: hop 0.3s 1.2s ease;
    animation: hop 0.3s 1.2s ease; }

/* Things to Animate */
.mario {
  position: absolute;
  top: -35px;
  left: 0px;
  -webkit-animation: drive 3s both infinite linear, hop 0.3s 1.2s ease;
  animation: drive 3s both infinite linear, hop 0.3s 1.2s ease; }

.luigi {
  position: absolute;
  top: 85px;
  left: 0px;
  z-index: 2;
  -webkit-animation: drive 5s both infinite linear;
  animation: drive 5s both infinite linear; }

.cloud {
  position: absolute; }
  .cloud:nth-child(1) {
    width: 200px;
    top: 100px;
    opacity: 0.5;
    -webkit-animation: wind 40s linear infinite reverse;
    animation: wind 40s linear infinite reverse; }
  .cloud:nth-child(2) {
    width: 300px;
    top: 0;
    -webkit-animation: wind 50s linear infinite reverse;
    animation: wind 50s linear infinite reverse; }

/* Keyframes */
@-webkit-keyframes drive {
  from {
    left: -150px; }
  to {
    left: 1500px; } }
@keyframes drive {
  from {
    left: -150px; }
  to {
    left: 1500px; } }

@-webkit-keyframes wind {
  from {
    left: -150px; }
  to {
    left: 100%; } }

@keyframes wind {
  from {
    left: -150px; }
  to {
    left: 100%; } }

@-webkit-keyframes hop {
  0% {
    top: -35px; }
  50% {
    top: -80px; }
  100% {
    top: -35px; } }

@keyframes hop {
  0% {
    top: -35px; }
  50% {
    top: -80px; }
  100% {
    top: -35px; } }
