html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 20%;
  background: seagreen;
  .flower {
    position: absolute;
    height: 40px;
    &:nth-child(1) {
      height: 40px;
      left: 50%;
    }
    &:nth-child(2) {
      top: 18%;
      left: 34%;
    }
    &:nth-child(3) {
      top: 25%;
      left: 69%; // Teehee
    }
  }
}

.road {
  height: 40%;
  background: dimgray;
  border-top: 10px solid gray; // Sets a border for the top
  border-bottom: 10px solid gray; // Sets a border for the bottom
  box-sizing: border-box; // Makes it fit.

  .lines {
    border: 4px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute; // To allow repositioning
    bottom: 50%;
  }

  .box {
    position: absolute;
    height: 80px;
    left: 50%;
    animation: hop 0.3s 1.2s ease;
  }

  .banana {
    position: absolute;
    width: 60px;
    top: 170px;
    left: 25%;
  }
}



/* Things to Animate */

.mario {
  position: absolute;
  top: -35px;
  left: 0px;
  animation: drive 3s both infinite linear,
             hop 0.3s 1.2s ease; // animation: (keyframe) / (duration) / (iteration) / (speed)
}

.luigi {
  position: absolute;
  top: 85px;
  left: 0px;
  z-index: 2;
  animation: drive 5s both infinite linear,
             slip 0.3s 1.2s ease;
}

.cloud {
  position: absolute;
  &:nth-child(1) { // Selects first child
    width: 200px;
    top: 100px;
    opacity: 0.5;
    animation: wind 40s linear infinite reverse;
  }
  &:nth-child(2) { // Selects second child
    width: 300px;
    top: 0;
    animation: wind 50s linear infinite reverse;
  }
}



/* Keyframes */

@keyframes drive {
  from { left: -150px } // "From" the left side of the screen (off screen)
  to { left: 1500px } // "To" 1500px from the left. (also off screen)
}

@keyframes wind {
  from { left: -150px } 
  to { left: 100% }
}

@keyframes hop {
  0% { top: -35px } // Starting position (matches .mario's "top")
  50% { top: -80px } // Hop at midway point (50%)
  100% { top: -35px } // Back to the starting position after the hop
}

@keyframes slip {
  0% { top: 85px }
  50% { transform: rotate(360deg) }
}